.time-clock {
  flex-direction: column;
  font-family: 'Courier New', monospace;
  font-size: 120px;
  font-weight: bold;
  text-shadow: 25 0 20px rgba(124, 75, 184, 108.5);
  display: flex;
  float: inline-start;
  align-items: self-start;

}

.highlighted-time {
  font-size: 100px;
  font-weight: bold;
  left: -10px;
  position: relative;
}

.highlighted-phase {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}


.btn-close-clock {
    background-color: transparent;
    color: var(--cor-texto);
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 70px #f85739, 0 0 70px #f85739, 0 0 70px #f85739;
}

.btn-close-clock:hover {
  text-shadow: 
    0 0 15px #f85739, 
    0 0 30px #f85739, 
    0 0 45px #f85739, 
    0 0 60px #fa845e;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .time-clock {
    top: 10%;
  }

  .highlighted-time {
    font-size: 2.3rem;
    font-weight: bold;
  }
}