.time-clock {
  flex-direction: column;
  font-family: 'Courier New', monospace;
  font-size: 120px;
  font-weight: bold;
  text-shadow: 25 0 20px rgba(124, 75, 184, 108.5);
  display: flex;
  float: inline-start;
  align-items: self-start;

}

.highlighted-time {
  font-size: 120px;
  font-weight: bold;

  left: -10px;
  position: relative;
}

.highlighted-phase {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}


.btn-close-clock {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  cursor: pointer;

  pointer-events: auto;
}

.btn-close-clock:hover {
  color: #fff;
}


@media (max-width: 768px) {
  .time-clock {
    top: 10%;
  }

  .highlighted-time {
    font-size: 20px;
    font-weight: bold;
  }
}