:root {
  --cor-primaria: #f85739;
  --cor-secundaria: #f62a14;
  --cor-texto: #f62a14;
  --cor-fundo: #fa845e;
}

/* ------------ BASE ------------ */
body {
  background-color: #ffdda9;
}

.glass-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(26, 0, 42, 0.8);
  z-index: 1;
}



/* ------------ TÍTULOS ------------ */
h1.titulo-app {
  position: absolute;
  z-index: 900;
  width: 100%;
  text-align: center;
  color: var(--cor-neon);
  font-weight: bold;
  text-shadow: 0 0 10px var(--cor-neon);
}

.main-prhase {
  z-index: 40;
  font-family: Courier New, monospace;
  border-bottom: 1px solid #fa845e;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: cursive;

  img {
    width: 10%;
  }
}

.main-prhase p {
  color: var(--cor-texto);
  font-size: 4.5rem;
  text-align: start;
  line-height: 0;
  margin: 0;
}

.modal h2 {
  margin-top: 0;
  color: var(--cor-neon);
  text-align: center;
}

.form-group label {
  color: #e0d6f8;
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.form-group textarea {
  max-height: -webkit-fill-available;
  height: 150px;
}

/* ------------ LAYOUT SALA ------------ */

.sala-background {
  width: 100%;
  height: -webkit-fill-available;
  position: absolute;
  background: linear-gradient(135deg, #2a1b3d, #3b2c5a);
}

.sala-background {
  content: url('/assets/images/sala.png');
}

@media (max-width: 768px) {
  .sala-background {
    content: url('/assets/images/sala-mobile.png');
  }
}

.sala-container__botoes-navegacao {
  position: absolute;
  z-index: 40;
  bottom: 10%;
  width: 100%;
  justify-items: center;
}

/* ------------ ELEMENTOS DA SALA ------------ */
.porta,
.mesa,
.cadeira,
.notebook,
.boneco {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

.porta:hover,
.btn-encerrar-estudo:hover,
.bnt-tela-cheia:hover {
  transform: scale(1.05) rotate(-2deg);
}

.mesa img {
  height: 800px;
}

.notebook img {
  width: 200px;
  height: 140px;
}

.boneco {
  width: 120px;
  animation: entrada 0.5s ease-out;
}

/* ------------ PAINEL DE ESTUDO ------------ */
.study-panel {
    margin-top: 5%;
    color: var(--cor-texto);
    z-index: 40;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.study-panel__clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: 'Courier New', monospace;
  text-shadow: 0 0 20px rgba(124, 75, 184, 0.5);
 

  img {
    width: 5%;
  }
}

.study-panel__clock :nth-child(3) {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

/* ------------ MODAL MONITOR ------------ */
.monitor-overlay {
  background: rgba(18, 10, 30, 0.8);
}

.monitor-content {
  background: var(--cor-secundaria);
  color: var(--cor-texto);
  border: 1px solid var(--cor-primaria);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.4);
}

.monitor-content img {
  max-width: 40%;
}

/* ------------ BARRA DE ENDEREÇO ------------ */
.address-bar-container {
  background: #472d63;
}

.address-bar {
  background: #2a1b3d;
  color: var(--cor-texto);
  border: 1px solid var(--cor-primaria);
}

/* ------------ BOTÕES ------------ */
.btn-primary,
.btn-secundario {
  cursor: pointer;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid var(--cor-primaria);
  font-size: 1.2rem;
  font-family: sans-serif;
}

.btn-primary {
  background-color: var(--cor-primaria);
  color: white;
}

.btn-primary:hover {
  background-color: var(--cor-secundaria);
}

.btn-secundario {
  background-color: transparent;
  color: var(--cor-primaria);
}

.btn-secundario:hover {
  color: var(--cor-secundaria);
  border: 1px solid var(--cor-secundaria);
  background: #fdb084;
}


.buttons-more-info-container {
  display: flex;
  gap: 16px;
  align-items: center;
  display: flex;

}

.btn-credits,
a.btn-credits {
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  min-height: auto;
}

.btn-credits:hover,
a.btn-credits:hover {
  background-color: var(--cor-secundaria);
  color: #fff;
}

.neon-button {
  background-color: #f85739;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 18px 50px;
  border: 2px solid #fdb084;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px #f85739, 0 0 40px #f85739, 0 0 40px #f85739;
}

.neon-button:hover {
  background-color: #f62a14;
  box-shadow:
    0 0 15px #f85739,
    0 0 30px #f85739,
    0 0 45px #f85739,
    0 0 60px #fa845e;
  transform: scale(1.05);
}

/* ------------ FORMULÁRIOS ------------ */
.form-group input,
.form-group select,
.form-group textarea {
  background-color: #3b2c5a;
  color: #f5eaff;
  border: 1px solid var(--cor-primaria);
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}

/* ------------ CONTROLE ESTUDOS ------------ */
.controle-estudos img {
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.2);
  width: 90px;
}

.controle-estudos img:hover {
  transform: scale(1.2);
  margin: 0 5px;
}


.modal-overlay.modal-sessao-finalizada .footer {
  justify-self: center;
}

@media (max-width: 768px) {
  .sala-container__botoes-navegacao {
    top: 2%;
    left: 9%;
  }

  .study-panel {
    margin-top: 30% !important;
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    width: 100% !important;
    flex-direction: column-reverse;
    gap: 100px;

    img {
      width: 20%;
    }
  }

  .study-panel__clock {
    text-align: -webkit-center;
  }

  .sala-container__botoes-navegacao {
    top: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    right: 0%;
    left: 0%;
  }

  .main-prhase {
    justify-items: center;
  }

  .main-prhase p {
    color: var(--cor-texto);
    font-size: 1.5rem;
  }

  .buttons-more-info-container {
    width: 100%;
    justify-content: center;
  }

  .btn-credits.doacao {
    bottom: 5%;
    right: 1%;
  }
}

.text-high-blur {
  filter: blur(21px);
  opacity: 0.55;
  transition: all 0.3s ease;
}